<!DOCTYPE html>
<html lang="en" dir="ltr">


   <head>
      <meta charset="utf-8">
      <title>
         <%= user.username %>
      </title>
   </head>

   <body>

      <div>
         <h1>
            <%= user.display_name %>
         </h1>
         <h3>
            <%= user.username %>
         </h3>

         <p>
            <%= user.bio %>
         </p>
      </div>

      <div style="width:100%; height: 255px; background-color: grey;">
         <% if(posts != null) { %>
         <% posts.forEach(function(post) { %>
         <div>
            <h1>
               <%= post.postTitle %>
            </h1>
            <p>
               <%= post.postLink %>
            </p>

         </div>
         <% }); %>
         <% } %>
      </div>


   </body>

</html>